<ion-header [translucent]="true">
 
  <ion-toolbar style="color: rgb(0, 0, 0) ;">
    <ion-title>
      TeLlevoApp
    </ion-title>
    <div class="ini">
      <a href="login">
      <ion-icon name="person-circle-outline"></ion-icon>
    </a>
    </div>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div #map id="map"></div>
<ion-toolbar >
</ion-toolbar>
<div class="movp">

<ion-button color="secondary">Movilizacion</ion-button>
</div>
<div class="movp2">
<ion-button>Sin movilizacion</ion-button>
</div>


<div class="pedir" style="text-align: center;"> 
  <a href="viaje">
<ion-button color="success">
  Pedir Viaje
</ion-button>
</a>
</div>


  <footer class="footer bg-inverse text-center">
    <div class="container">
      <p class="text-white">
        &copy; Equipo Hub
      </p>
    </div>
  </footer>
</ion-content>
